# Generated source files
app/src/main/python/strings.py
app/src/main/res/*/html_content.xml
app/src/main/res/values-*/strings.xml

# Temporary files
tmpenv
tmphome/

# Kolibri tar files and patches
tar/
tar/patched/

# File format for signing keys
*.jks
*.keystore

# Output folder
dist/

# Python
__pycache__
*.pyc

# Android build artifacts
android_root/
*.apk
bin/
build/
.gradle/
.cxx
.externalNativeBuild
captures/
local.properties

# IDE
.idea/
*.iml
.DS_Store

# Environment
.env
.envrc
build_docker
build.log
